
.hed_3{
    color: blue;
   font-size: 30px;
}
.hed_2{
    font-family:'Courier New', Courier, monospace;
    height: 20px;
    color: #0c032b;
}
button{
    color: #326eb2;
    font-size: 15px;
    padding: 5  px;
}
button:hover{
    color:black;
}
.img_abt{
    width: 600px;
    height: 400px;
    margin-top: 40px;
   
}
.card{
    width: 404px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.card_img{
    width: 400px;
    height: 400px;
    margin-top: 50px;
}
.card_btn{
    margin-left: 300px;
    color: blue;
    margin-bottom: 30px;
    
    
}
.card_hed{
   margin-left: 150px;
}
.card_btn3{
    color: #616a6b;
    margin-left: 300px;
    background-color:#07e4ee ;
}




